.markdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;

    .content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        padding: 1rem;

        .textarea {
            resize: none;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            padding: 0.5rem;
            outline: none;
            text-decoration: none;
            min-width: 40%;
        }

        .preview {
            height: 100%;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            padding: 0.5rem;
            outline: none;
            text-decoration: none;
            min-width: 40%;
        }
    }
}
