.app {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .panel {
        position: relative;
        width: 80%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        font-weight: 500;
        font-size: 16px;

        .title {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px 12px;
            cursor: pointer;
            color: var(--color-button-text);
            transition: color 1s, border-color 1s;
            border-bottom: 1px solid transparent;

            .icon {
                width: 20px;
                height: 20px;
                object-fit: contain;
                filter: invert(1);
                transition: filter 1s;

                &.theme {
                    transform: rotateY(180deg);
                }
            }

            &:hover {
                border-color: var(--color-button-text);
            }

            &.active {
                border-color: var(--color-button-text);
            }
        }
    }

    .tabs {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;

        .activeTab {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80%;
            flex-grow: 1;
        }
    }

    @media (prefers-color-scheme: light) {
        .panel .title {
            color: var(--color-button-text);
    
            &:hover {
                border-color: var(--color-button-text);
            }
    
            &.active {
                border-color: var(--color-button-text);
            }
    
            .icon {
                filter: invert(0);
            }
        }
    }
}

html[data-theme="light"] .app {
    .panel .title {
        color: var(--color-button-text);

        &:hover {
            border-color: var(--color-button-text);
        }

        &.active {
            border-color: var(--color-button-text);
        }

        .icon {
            filter: invert(0);
        }
    }
}
