.app {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .panel {
        position: relative;

        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 0;
        font-weight: 500;
        font-size: 16px;

        .title {
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px 4px;
            cursor: pointer;
            color: var(--color-button-text);
            transition: color 0.5s ease-in-out;

            .icon {
                width: 20px;
                height: 20px;
                object-fit: contain;
                filter: invert(1);
                transition: filter 0.5s ease-in-out;

                &.theme {
                    transform: rotateY(180deg);
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 0;
                height: 1px;
                background-color: transparent;
                opacity: 0;
                transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
            }

            &:hover {
                &::after {
                    width: 100%;
                    opacity: 1;
                    background-color: var(--color-button-text);
                }
            }

            &.active {
                &::after {
                    width: 100%;
                    opacity: 1;
                    background-color: var(--color-button-text);
                }
            }
        }
    }

    .tabs {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;

        .activeTab {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 90%;
        }
    }

    @media (min-width: 425px) {
        .panel {
            width: calc(90% - 20px);
            justify-content: space-between;
            padding: 20px 10px;

            .title {
                gap: 10px;
            }
        }
    }

    @media (min-width: 769px) {
        .panel {
            width: calc(80% - 40px);
            padding: 20px 20px;
            gap: 20px;
            justify-content: center;

            .title {
                padding: 8px 12px;
            }
        }

        .tabs {
            width: calc(100% - 60px);
            padding: 30px 30px;

            .activeTab {
                width: 80%;
            }
        }
    }

    @media (prefers-color-scheme: light) {
        .panel .title {
            color: var(--color-button-text);
    
            &:hover {
                &::after {
                    width: 100%;
                    background-color: var(--color-button-text);
                }
            }
    
            &.active {
                &::after {
                    width: 100%;
                    background-color: var(--color-button-text);
                }
            }
    
            .icon {
                filter: invert(0);
            }
        }
    }
}

html[data-theme="light"] .app {
    .panel .title {
        color: var(--color-button-text);

        &:hover {
            &::after {
                width: 100%;
                background-color: var(--color-button-text);
            }
        }

        &.active {
            &::after {
                width: 100%;
                background-color: var(--color-button-text);
            }
        }

        .icon {
            filter: invert(0);
        }
    }
}
