.documentation {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    z-index: -1;
    transition: opacity, display, 1s ease;
    transition-delay: 0.5s;

    &.active {
        z-index: 1;
        opacity: 1;
        display: flex;
        transition-delay: 0.5s;
    }
}
